.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.result,
.calculate {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 400px;
}

.result button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ffff;
}
.cancel {
  border: 1px solid red;
  color: red;
}
.add {
  color: #3cc30a;
  border: 1px solid #3cc30a;
}
.expense,
.income {
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-evenly;
  border: 1px solid rgb(192, 192, 192);
  width: 100%;
  border-radius: 5px;
  justify-items: start;
  height: 80px;
  align-items: flex-start;
  flex-direction: column;
}
.expense span,
.income span {
  font-size: 0.7rem;
}
.expense p {
  color: red;
  font-weight: bold;
}
.income p {
  color: rgb(60, 195, 10);
  font-weight: bold;
}
